


.cart-box{
	display: grid;
	grid-template-columns: 22% 40% 12% 12% 14%;
	align-items: center;
	gap: 0rem;
	margin-top: 0.3rem;
	padding-bottom: 0.4rem;
	border-bottom: 1px	solid rgba(0, 0, 0, 1.0);

}

.tare-type{
	font-size: 0.8rem;
	font-style: italic;
}

.cart-img{
	width: 100px;
	height: 100px;
	object-fit: contain;
	padding: 0px;
	
}

.detail-box{
	margin-left: 1rem;
	display: grid;
	row-gap: 0.1rem;

}

.cart-product-title{
	font-size: 1.1rem;
	font-weight: 600;
}

.cart-price{
	font-weight: 300;
}

.cart-quantity{
	border: 1px	solid rgba(0, 0, 0, 1.0);
	outline-color: rgba(0, 0, 0, 1.0);
	width: 2.5rem;
	font-size: 1rem;

	justify-content: center !important;
	margin-left: auto;
	margin-right: auto;
} 


.cart-remove{
	cursor: pointer;
	justify-content: center !important;
	margin-left: auto;
	margin-right: auto;
}



.total{
	display: flex;
	justify-content: flex-end;
	margin-top: 0.5rem;
}

.item-total-price{
	font-size: 1rem;
	font-weight: 550;
	display: flex;
	justify-content: flex-end;
}

.total-title{
	font-size: 1rem;
	font-weight: 600;
}

.total-price{
	margin-left: 1rem;
	font-size: 1rem;
	font-weight: 600;
}

.btn-buy{
	display: flex;
	margin: 1.5rem auto 0 auto;
	padding: 12px 20px;
	border: none;
	background: #22BF34;
	color: #fafafa;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
}

.btn-buy:hover{
	background: #19A429;
}
