.full-large{
	content: url('../img/jar-full-lg.png');
	height: 35px;
	cursor: pointer;
	transition: transform .2s;
	

}

.full-small{
content: url('../img/jar-full-small.png');
height: 35px;
cursor: pointer;
transition: transform .2s;

}

.empty-large{
content: url('../img/jar-empty-lg.png');
height: 35px;
cursor: pointer;
transition: transform .2s;
}

.empty-small{
	content: url('../img/jar-empty-small.png');
	height: 35px;
	cursor: pointer;
	transition: transform .2s;
}

.tare-value{
	font-size: 20px;
	font-weight: 600;
}

.tare{
	text-align: center;
}


.full-large:hover{
		
		animation: tilt-n-move-shaking 0.5s infinite; 
}

.full-small:hover{
	
	animation: tilt-n-move-shaking 0.5s infinite; 

}

.empty-large:hover{
	
	animation: tilt-n-move-shaking 0.5s infinite; 
}

.empty-small:hover{
		
		animation: tilt-n-move-shaking 0.5s infinite; 
}

@keyframes tilt-n-move-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}